//Colors

//Raw
$white: #fff
$black: #000
$green: #5cb85c
$red: #d9534f
$gray: #696969
$light-gray: #e1e1e1
$dark-gray: #373737
$dim-gray: #777
$marine-blue: #3B5998

//General
$bg-color: $white
$bg-alt-color: $light-gray
$text-color: $gray
$heading-color: $dark-gray
$facebook-color: $marine-blue
$shadow-color: $dim-gray
$btn-bg-color: $green
$btn-text-color: $white
$btn-bg-highlight-color: darken($green, 15%)
$btn-bg-active-color: darken($green, 25%)

//Header specific
$nav-bg-color: transparentize($black, 0.2)
$nav-text-highlight-color: $green
$nav-text-color: $white

//Event specific
$event-date-bg-color: transparentize($black, 0.25)
$event-date-text-color: $white
$event-bg-color: $white
$event-title-border-color: $green

//Gallery specific
$gallery-overlay-bg-color: transparentize($black, 0.5)
$gallery-caption-color: $white
$gallery-caption-container-color: transparentize($black, 0.4)

//Contact specific
$input-border-color: $gray
$input-border-highlight-color: $green
$input-border-highlight-shadow-color: transparentize($green, 0.3)
$modal-success-border-color: $green
$modal-success-shadow-color: transparentize($green, 0.3)
$modal-fail-border-color: $red
$modal-fail-shadow-color: transparentize($red, 0.3)

//Footer specific
$footer-bg-color: $dark-gray
$footer-text-color: $white
$footer-text-highlight-color: $green
$footer-social-bg-color: $white
$footer-social-text-color: $dark-gray
$footer-social-highlight-color: $green

//Screen sizes
$tablet-width: 768px
$desktop-width: 992px

