<div class="col-md-4 col-sm-12">
  <div class="row">
    <div class="col-md-12 col-sm-4 info-section">
      <h2>Localização</h2>
      <p>Sporting Clube de Alenquer</p>
      <p>{{site.data.settings.address}}</p>
    </div>
    <div class="col-md-12 col-sm-4 info-section">
      <h2>Horário</h2>
      {% for entry in site.data.settings.schedule %}
        <h6>{{entry.division}}</h6>
        {% for class in entry.classes %}
          <p>{{class.day}}: {{class.time}}</p>
        {% endfor %}
      {% endfor %}
    </div>
    <div class="col-md-12 col-sm-4 info-section">
      <h2>Contacto</h2>
      <p class="icon-text">
        {% include svg/phone.svg %} 
        {{site.data.settings.telephone}}
      </p>
      <p class="icon-text">
        {% include svg/email.svg %}
        {{site.data.settings.email}}
      </p>
      {% for social in site.data.settings.social %}
        <a href="{{social.url}}" target="_blank" class="{{social.name}}">
          {% include svg/{{social.name}}.svg %}
        </a>
      {% endfor %}
    </div>
  </div>
</div>