---
---


<!DOCTYPE html>
<html lang="pt">

<head>
  <title>{{ site.data.settings.title }}</title>
  <meta name="description" content="{{ site.data.settings.description }}">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="assets/css/main.css">
</head>

<body>
  
  {% include header.html %}

  <main>
    
    {% include events.html %}

    {% include taekwondo.html %}

    {% include group.html %}

    {% include classes.html %}

    {% include gallery.html %}

    {% include contact.html %}

  </main>
  
  {% include footer.html %}

  <button class="back-to-top" id="back-to-top" title="Voltar ao topo">
    <i class="fa fa-chevron-up"></i>
  </button>

  <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="assets/js/functions.js"></script>
</body>

</html>