//Colors

//Body
$bg-color: #fff

//Buttons
$btn-main-bg-color: #5cb85c
$btn-main-border-color: #4cae4c
$btn-main-text-color: #fff

//Header
$nav-bg-color: #000
$nav-text-color: #fff
$nav-hover-border-color: #5cb85c
$nav-hover-text-color: #5cb85c

//Event Section
$event-title-border-color: #5cb85c
$event-date-bg-color: #000
$event-date-text-color: #fff
$event-container-bg-color: #fff
$event-description-text-color: #696969
$event-title-text-color: #373737
$event-bg-color: #e1e1e1
$event-container-shadow-color: #000

//Footer
$footer-bg-color: #373737
$footer-text-color: #fff
$footer-hover-bg-color: #5cb85c

