<section class="section-classes" id="aulas">
  <div class="container">
    <div class="row">
      {% assign columnSize = 12 | divided_by:site.data.settings.classes.size %}
      {% for class in site.data.settings.classes %}
      <div class="col-sm-{{columnSize}} center-container">
        <img src="{{class.image.src}}" alt="{{class.image.alt}}">
        <div class="text-container">
          <h2>{{class.type}}</h2>
          <p>{{class.text}}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
