<section class="section-classes" id="aulas">
  <div class="container">
    <div class="row">
      {% assign columnSize = 12 | divided_by:site.data.info.classes.size %}
      {% for class in site.data.info.classes %}
      <div class="col-sm-{{columnSize}} center-container">
        <img src="{{class.image.src}}" alt="{{class.image.alt}}">
        <div class="text-container">
          {% capture class-text%}{% include partials/class-{{class.type}}-text.md %}{% endcapture %}
          {{class-text | markdownify}}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
