<section class="section-contact">
  <div class="container">
    <div class="map"></div>
    <div class="text-container">
      <div class="contact-info">
        <div class="info-section">
          <p class="title">Localização</p>
          <div class="description">
            <p>Sporting Clube de Alenquer</p>
            <p>Av. Jaime Ferreira</p>
            <p>Morada 3</p>
          </div>
        </div>
        <div class="info-section">
          <p class="title">Contacto</p>
          <div class="description">
            <p>Telefone: 999999999</p>
            <p>Email: xxx@xxx.xxx</p>
            <a href="#0" class="facebook-icon">
              <i class="fa fa-facebook-official"></i>
            </a>
          </div>
        </div>
        <div class="info-section">
          <p class="title">Horário</p>
          <div class="description">
            <p class="subtitle">Crianças</p>
            <p>Terça-feira: 19:00h - 19:45h</p>
            <p>Quinta-feira: 19:00h - 19:45h</p>
            <p class="subtitle">Adultos</p>
            <p>Terça-feira: 19:45h - 21:15h</p>
            <p>Quinta-feira: 19:45h - 21:15h</p>
          </div>
        </div>
      </div>
      <div class="message-form">
        <p class="title">Envie-nos uma mensagem!</p>
        <form action="">
          <div class="sender-info-group">
            <label>
              Nome
              <input type="text" name="name" required>
            </label>
            <label>
              Email
              <input type="email" name="email" required>
            </label>
          </div>
          <label>
            Assunto
            <input type="text" name="subject" required>
          </label>
          <label>
            Mensagem
            <textarea name="message" required></textarea>
          </label>
          <button class="main-button" type="submit">Enviar</button>
        </form>
      </div>
    </div>
  </div>
</section>
