<section class="section-events">
  <div class="event-container">
    <div class="event-header">
      <img src="assets/img/poster-oitavo-workshop-tcsac.jpg" alt="poster oitavo workshop tcsac">
      <div class="date">
        <span class="day">15</span>
        <span class="month">Out</span>
      </div>
    </div>
    <p class="title">8º Workshop de Taekwondo TCSAC</p>
    <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum soluta, deserunt totam architecto numquam vel quod impedit natus temporibus quaerat officia placeat, blanditiis fugiat doloremque. Officiis eligendi perspiciatis tenetur ipsam.</p>
    <a href="#0" class="event-button">
      <button class="main-button">
        Mais
      </button>
    </a>
  </div>
  <div class="event-container">
    <div class="event-header">
      <img src="assets/img/poster-curso-distrital-juizes-poomsaes.jpg" alt="poster-curso-distrital-juizes-poomsaes">
      <div class="date">
        <span class="day">26</span>
        <span class="month">Mai</span>
      </div>
    </div>
    <p class="title">Curso Distrital de Juizes de Poomsaes</p>
    <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores numquam autem eum quod, amet, atque alias nemo labore aliquid quae, illum eaque harum aut velit necessitatibus qui ducimus at ipsum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea doloribus debitis vero reprehenderit facere earum, recusandae. Quas laudantium totam sit reprehenderit repudiandae provident, voluptates est, voluptatibus ex, perferendis consequuntur. Dolor!</p>
    <a href="#0" class="event-button">
      <button class="main-button">
        Mais
      </button>
    </a>
  </div>
  <div class="event-container">
    <div class="event-header">
      <img src="assets/img/poster-iv-open-internacional-sintra.jpg" alt="poster-iv-open-internacional-sintra">
      <div class="date">
        <span class="day">07</span>
        <span class="month">Mai</span>
      </div>
    </div>
    <p class="title">IV Open Internacional de Sintra</p>
    <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, dignissimos, quia. Maxime, recusandae voluptatem aperiam labore temporibus dolore. Nisi inventore, explicabo eligendi aspernatur totam, aperiam ratione ipsa nostrum natus cum.</p>
    <a href="#0" class="event-button">
      <button class="main-button">
        Mais
      </button>
    </a>
  </div>
</section>
