<section class="section-events" id="eventos">
  <div class="container">
    <div class="row">
    {% assign columnSize = 12 | divided_by: site.data.info.events.size  %}
    {% for event in site.data.info.events %}
      <div class="col-sm-{{columnSize}} event-container center-container">
        <div class="event-header">
          <img src="{{event.image.src}}" alt="{{event.image.alt}}">
          <div class="event-date">
            <span class="event-day">{{event.date.day}}</span>
            <span class="event-month">{{event.date.month}}</span>
          </div>
        </div>
        <div class="event-body">
          <h4 class="event-title">{{event.title}}</h4>
          <p class="event-description">{{event.description}}</p>
          <button class="main-button event-button">
            <a href="{{event.link}}" target="_blank">Mais</a>
          </button>
        </div>
      </div>
    {% endfor %}
    </div>
  </div>
</section>
