<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-3 footer-section">
        <div class="logos">
          <img alt="logo tigres negros" src="assets/img/logo-tn.png">
          <img alt="logo sca" src="assets/img/logo-sca.png">
        </div>
        <span class="credits">Tigres Negros - 2016</span>
      </div>
      <div class="col-md-2 col-sm-2 footer-section">
        <h5>Sobre Nós</h5>
        <ul class="site-links">
          <li>
            <a href="#eventos">Eventos</a>
          </li>
          <li>
            <a href="#taekwondo">Taekwondo</a>
          </li>
          <li>
            <a href="#grupo">Grupo</a>
          </li>
          <li>
            <a href="#aulas">Aulas</a>
          </li>
          <li>
            <a href="#galeria">Galeria</a>
          </li>
          <li>
            <a href="#contacto">Contacto</a>
          </li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-4 footer-section">
        <h5>Horário</h5>
        <h6>Crianças</h6>
        <div class="schedule-entry">
          <span>Terça-feira:</span>
          <span>19:00h - 19:45h</span>
        </div>
        <div class="schedule-entry">
          <span>Quinta-feira:</span>
          <span>19:00h - 19:45h</span>
        </div>
        <h6>Adultos</h6>
        <div class="schedule-entry">
          <span>Terça-feira:</span>
          <span>19:45h - 21:15h</span>
        </div>
        <div class="schedule-entry">
          <span>Quinta-feira:</span>
          <span>19:45h - 21:15h</span>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 footer-section">
        <h5>Contacto</h5>
        <div class="contact-line">
          <i class="fa fa-phone contact-icon"></i>
          <span>xxx xxx xxx</span>
        </div>
        <div class="contact-line">
          <i class="fa fa-envelope contact-icon"></i>
          <span>xxx@xxx.xxx</span>
        </div>
        <div class="contact-line">
          <i class="fa fa-map-marker contact-icon"></i>
          <span>xxxxxxxxxxx</span>
        </div>
        <div class="social-networks">
          <a href="https://pt-pt.facebook.com/tigresnegrostaekwondo/" target="_blank">
            <i class="fa fa-facebook"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
