<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 footer-section">
        <img alt="logo tigres negros" src="assets/img/logo-tn.png" class="logo">
        <img alt="logo sca" src="assets/img/logo-sca.png" class="logo">
        <span class="credits">Tigres Negros - 2016</span>
      </div>
      <div class="col-sm-3 footer-section">
        <p class="title">Sobre Nós</p>
        <div class="description">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam cumque eum mollitia
            perferendis, aperiam neque. Neque, dolores incidunt rerum voluptate corporis.
          </p>
        </div>
      </div>
      <div class="col-sm-3 footer-section">
        <p class="title">Horário</p>
        <div class="description">
          <p class="subtitle">Crianças</p>
          <p class="nowrap">Terça-feira: 19:00h - 19:45h</p>
          <p class="nowrap">Quinta-feira: 19:00h - 19:45h</p>
          <p class="subtitle">Adultos</p>
          <p class="nowrap">Terça-feira: 19:45h - 21:15h</p>
          <p class="nowrap">Quinta-feira: 19:45h - 21:15h</p>
        </div>
      </div>
      <div class="col-sm-2 footer-section">
        <p class="title">Contacto</p>
        <div class="description">
          <p class="contact-line nowrap"><i class="fa fa-phone contact-icon"></i>xxx xxx xxx</p>
          <p class="contact-line nowrap"><i class="fa fa-envelope contact-icon"></i>xxx@xxx.xxx</p>
          <p class="contact-line nowrap"><i class="fa fa-map-marker contact-icon"></i>xxxxxxxxxxx</p>
          <div class="social-networks">
            <a href="#0">
              <i class="fa fa-facebook"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>