<footer class="site-footer">
  <div class="container">
    <div class="footer-section">
      <div class="logos">
        <img alt="logo tigres negros" src="assets/img/logo-tn.png">
        <img alt="logo sca" src="assets/img/logo-sca.png">
      </div>
      <p class="credits">Tigres Negros - 2016</p>
    </div>
    <div class="footer-section">
      <p class="title">Sobre Nós</p>
      <div class="description">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam cumque eum mollitia
          perferendis, aperiam neque. Neque, dolores incidunt rerum voluptate corporis.
        </p>
      </div>
    </div>
    <div class="footer-section">
      <p class="title">Horário</p>
      <div class="description">
        <p class="subtitle">Crianças</p>
        <p class="nowrap">Terça-feira: 19:00h - 19:45h</p>
        <p class="nowrap">Quinta-feira: 19:00h - 19:45h</p>
        <p class="subtitle">Adultos</p>
        <p class="nowrap">Terça-feira: 19:45h - 21:15h</p>
        <p class="nowrap">Quinta-feira: 19:45h - 21:15h</p>
      </div>
    </div>
    <div class="footer-section">
      <p class="title">Contacto</p>
      <div class="description">
        <p class="nowrap" style="margin-bottom:5px"><i class="fa fa-phone" style="width:23px;margin-right: 3px;text-align:center"></i>xxx
          xxx xxx</p>
        <p class="nowrap" style="margin-bottom:5px"><i class="fa fa-envelope" style="width:23px;margin-right: 3px;text-align:center"></i>xxx@xxx.xxx</p>
        <p class="nowrap" style="margin-bottom:5px"><i class="fa fa-map-marker" style="width:23px;margin-right: 3px;text-align:center"></i>xxxxxxxxxxx</p>
        <div class="social-networks">
          <a href="#0"><i class="fa fa-facebook"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
