<section class="section-gallery">
  <div class="container">
    <!-- <img src="assets/img/gallery/img-1.jpg" alt="">
    <img src="assets/img/gallery/img-2.jpg" alt="">
    <img src="assets/img/gallery/img-3.jpg" alt="">
    <img src="assets/img/gallery/img-4.jpg" alt="">
    <img src="assets/img/gallery/img-5.jpg" alt="">
    <img src="assets/img/gallery/img-6.jpg" alt="">
    <img src="assets/img/gallery/img-7.jpg" alt="">
    <img src="assets/img/gallery/img-8.jpg" alt=""> -->
    <div class="gallery-image" id="img-1"></div>
    <div class="gallery-image" id="img-2"></div>
    <div class="gallery-image" id="img-3"></div>
    <div class="gallery-image" id="img-4"></div>
    <div class="gallery-image" id="img-5"></div>
    <div class="gallery-image" id="img-6"></div>
    <div class="gallery-image" id="img-7"></div>
    <div class="gallery-image" id="img-8"></div>
  </div>
</section>