<section class="section-gallery" id="galeria">
  <div class="container">
    <div class="row">
    {% for image in site.data.info.galleryImages %}
      <div class="col-md-3 col-xs-6 gallery-img" id="gallery_img-{{forloop.index0}}">
        <div class="img-container">
          <img src="{{image.thumbnail}}" alt="{{image.caption}}">
          <div class="overlay">
            <div class="caption-container">
              <span class="caption">{{image.caption}}</span>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>

    <div class="modal fade" id="galleryModal" tabindex="-1" role="dialog" aria-labelledby="galleryModalHeader">
      <div class="modal-dialog" role="document">
        <button class="modal-nav nav-left"><i class="fa fa-chevron-left"></i></button>
        <button class="modal-nav nav-right"><i class="fa fa-chevron-right"></i></button>
        <button class="modal-close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fechar</span></button>
        </button>
        <img src="" alt="">
        <span class="modal-caption"></span>
      </div>
    </div>
  </div>
</section>
