<section class="section-gallery" id="galeria">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-xs-6">
        <div class="img-container">
          <img src="assets/img/gallery/img-1.jpg" alt="">
          <div class="overlay">
            <div class="caption-container">
              <span class="caption">Legenda</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-xs-6">
        <div class="img-container">
          <img src="assets/img/gallery/img-2.jpg" alt="">
          <div class="overlay">
            <div class="caption-container">
              <span class="caption">Legenda</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-xs-6">
        <div class="img-container">
          <img src="assets/img/gallery/img-3.jpg" alt="">
          <div class="overlay">
            <div class="caption-container">
              <span class="caption">Legenda</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-xs-6">
        <div class="img-container">
          <img src="assets/img/gallery/img-4.jpg" alt="">
          <div class="overlay">
            <div class="caption-container">
              <span class="caption">Legenda</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-xs-6">
        <div class="img-container">
          <img src="assets/img/gallery/img-4.jpg" alt="">
          <div class="overlay">
            <div class="caption-container">
              <span class="caption">Legenda</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-xs-6">
        <div class="img-container">
          <img src="assets/img/gallery/img-6.jpg" alt="">
          <div class="overlay">
            <div class="caption-container">
              <span class="caption">Legenda</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-xs-6">
        <div class="img-container">
          <img src="assets/img/gallery/img-7.jpg" alt="">
          <div class="overlay">
            <div class="caption-container">
              <span class="caption">Legenda</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-xs-6">
        <div class="img-container">
          <img src="assets/img/gallery/img-8.jpg" alt="">
          <div class="overlay">
            <div class="caption-container">
              <span class="caption">Legenda</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="galleryModal" tabindex="-1" role="dialog" aria-labelledby="galleryModalHeader">
      <div class="modal-dialog" role="document">
        <button class="modal-close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        </button>
        <img src="" alt="">
        <span class="modal-caption"></span>
      </div>
    </div>
  </div>
</section>
