<section class="section-group" id="grupo">
  <div class="container">
    <div class="left-col">
      <img src="assets/img/group-img-top.jpg" alt="foto de grupo">
      <img src="assets/img/group-img-bottom.jpg" alt="foto dojang">
    </div>
    <div class="right-col">
      <p class="subtitle">O Grupo</p>
      <p class="title">Tigres Negros</p>
      <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae voluptatem,
        saepe! Nulla consequatur totam non provident, reprehenderit eligendi, quibusdam,
        id amet consectetur cupiditate aspernatur voluptatibus ratione obcaecati
        rerum iusto laborum! Lorem ipsum dolor sit amet, consectetur adipisicing
        elit. Temporibus, iusto, illo, in id at, repellat voluptatum dolor debitis
        obcaecati deserunt eveniet quis magnam voluptates sint eum fuga nulla ipsam
        accusantium. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam
        quas, sed, qui odit neque veniam libero quam nihil ex fuga, perspiciatis
        quaerat enim cumque, odio blanditiis asperiores velit expedita corporis.</p>
    </div>
  </div>
</section>
