<section class="section-group" id="grupo">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-push-6">
        {% capture group-text%}{% include partials/group-text.md %}{% endcapture %} 
        {{group-text | markdownify}}
      </div>
      <div class="col-sm-6 col-sm-pull-6 center-container">
        {% for image in site.data.info.group.images %}
          <img src="{{image.src}}" alt="{{image.alt}}"> 
        {% endfor %}
      </div>
    </div>
  </div>
</section>
