<section class="section-group" id="grupo">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-push-6">
        <h3>{{site.data.settings.group.subtitle}}</h3>
        <h1>{{site.data.settings.group.title}}</h1>
        <p>{{site.data.settings.group.text}}</p>
      </div>
      <div class="col-sm-6 col-sm-pull-6 center-container">
      {% for image in site.data.settings.group.images %}
        <img src="{{image.src}}" alt="{{image.alt}}">
      {% endfor %}
      </div>
    </div>
  </div>
</section>
