<header class="site-header">
  <nav class="navbar" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-primary-collapse">
          <span class="sr-only">Alternar navegação</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="center">
          <a class="navbar-brand" href="#">
            <div class="logos">
              {% for logo in site.data.settings.logos %}
               <img src="{{logo.src}}" alt="{{logo.alt}}">
              {% endfor %}
            </div>
          </a>
        </div>
      </div>
      <div class="collapse navbar-collapse" id="navbar-primary-collapse">
        <div class="center">
          <ul class="nav navbar-nav">
            {% assign middle = site.data.settings.nav.size | divided_by:2 %}
            {% for item in site.data.settings.nav %}
              {% if forloop.index0 == middle %}
                <li class="inline-brand">
                  <a href="#">
                    <div class="logos">
                      {% for logo in site.data.settings.logos %}
                       <img src="{{logo.src}}" alt="{{logo.alt}}">
                      {% endfor %}
                    </div>
                  </a>
                </li>
              {% endif %}
              <li><a href="{{item.url}}">{{item.name}}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>
