<header class="site-header">
  <nav class="navbar" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-primary-collapse">
          <span class="sr-only">Alternar navegação</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="center">
          <a class="navbar-brand" href="#">
            <div class="logos">
              <img alt="logo tigres negros" src="assets/img/logo-tn.png">
              <img alt="logo sca" src="assets/img/logo-sca.png">
            </div>
          </a>
        </div>
      </div>
      <div class="collapse navbar-collapse" id="navbar-primary-collapse">
        <div class="center">
          <ul class="nav navbar-nav">
            <li><a href="#eventos">Eventos</a></li>
            <li><a href="#taekwondo">Taekwondo</a></li>
            <li><a href="#grupo">Grupo</a></li>
            <li class="inline-brand">
              <a href="#">
                <div class="logos">
                  <img alt="logo tigres negros" src="assets/img/logo-tn.png">
                  <img alt="logo sca" src="assets/img/logo-sca.png">
                </div>
              </a>
            </li>
            <li><a href="#aulas">Aulas</a></li>
            <li><a href="#galeria">Galeria</a></li>
            <li><a href="#contacto">Contacto</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>
