<section class="section-tkd" id="taekwondo">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h3>{{site.data.info.taekwondo.subtitle}}</h3>
        <h1>{{site.data.info.taekwondo.title}}</h1>
        <p>{{site.data.info.taekwondo.text}}</p>
      </div>
      <div class="col-sm-6 center-container">
      {% for image in site.data.info.taekwondo.images %}
        <img src="{{image.src}}" alt="{{image.alt}}">
      {% endfor %}
      </div>
    </div>
  </div>
</section>
