.section-events
  background-color: $light-gray
  padding: 0 30px

  .container
    display: flex
    justify-content: space-between
    max-width: 960px
    margin: auto

  .event-container
    max-width: 30%
    height: 485px
    background-color: $white
    margin: -35px 10px 50px 10px
    position: relative

    &:hover
      box-shadow: 0 3px 10px $shadow-gray
      transition-duration: 0.2s

    .event-header
      height: 150px
      overflow: hidden
      position: relative

      img
        width: 100%

      .date
        position: absolute
        bottom: 0
        right: 0
        background-color: transparentize($black, 0.25)
        width: 65px
        height: 65px
        color: $white
        text-align: center

        .day
          font-size: 3.0rem
          font-weight: 700
          letter-spacing: 0.1rem

        .month
          font-size: 1.8rem
          letter-spacing: 0.1rem
          text-transform: uppercase

    .title
      font-size: 1.8rem
      max-height: 60px
      letter-spacing: 0.1rem
      color: $dark-gray
      padding-bottom: 15px
      border-bottom: 4px solid $green
      margin: 15px 15px 0 15px
      overflow: hidden

    .description
      color: $gray
      max-height: 170px
      line-height: 2.4rem
      margin: 15px 15px 0 15px
      overflow: hidden

    .event-button
      margin: 15px
      position: absolute
      left: 0
      bottom: 0
