.site-footer
  background-color: $footer-bg-color
  display: flex
  justify-content: space-between
  padding: 40px 25px
  color: $footer-text-color 

  .footer-section
    display: flex
    flex-direction: column
    margin: 15px
    max-width: 40%

    .logos
      display: flex

      img
        height: 124px

        &:first-child
          margin-right: 15px

    .credits
      margin-top: 15px

    .title
      font-size: 1.6rem
      font-weight: 700
      text-transform: uppercase
      letter-spacing: 0.1rem
      margin: 0 0 15px 0

    .description
      line-height: 2.4rem

      p
        margin: 0

    .subtitle
      text-transform: uppercase
      letter-spacing: 0.1rem

    .nowrap
      white-space: nowrap