.section-gallery
  background-color: $light-gray
  padding: 50px 40px

  .container
    max-width: 960px
    margin: 0 auto

    .gallery-img
      position: relative
      overflow: hidden
      padding-bottom: 66%
      margin-bottom: 20px
      transition: all 0.3s ease

      img
        position: absolute
        top: 0
        bottom: 0
        left: 0
        right: 0
        margin: auto
        transition: all 0.3s ease

        &:hover
          transform: scale(1.25)
          // cursor: pointer
          // border: 2px solid $white

      &:hover
        // transform: scale(1.25)
        // cursor: pointer
        // border: 2px solid $white