.section-gallery
  background-color: $light-gray
  padding: 50px 40px

  .container
    max-width: 960px
    display: flex
    justify-content: center
    flex-wrap: wrap
    align-content: center
    margin: 0 auto

    // img
    //   width: 235px
    //   height: 156px
    
    .gallery-image
      width: 235px
      height: 156px
      background-repeat: no-repeat
      background-position: center center
      background-size: cover
      transition: all 0.3s ease

      &:hover
        transform: scale(1.25)
        cursor: pointer
        border: 2px solid $white

    #img-1
      background-image: url('../img/gallery/img-1.jpg')

    #img-2
      background-image: url('../img/gallery/img-2.jpg')

    #img-3
      background-image: url('../img/gallery/img-3.jpg')

    #img-4
      background-image: url('../img/gallery/img-4.jpg')

    #img-5
      background-image: url('../img/gallery/img-5.jpg')

    #img-6
      background-image: url('../img/gallery/img-6.jpg')

    #img-7
      background-image: url('../img/gallery/img-7.jpg')

    #img-8
      background-image: url('../img/gallery/img-8.jpg')