.site-header
  height: 500px
  background:
    image: url(../img/landing-bg.png)
    position: center top
    repeat: no-repeat
    size: cover

  .center
    display: table
    margin: 0 auto

  .logos img &:first-child
    margin-right: 10px

  #navbar-primary
    background-color: transparentize($black, 0.2)
    border-radius: 0
    border: none
    max-height: 90px

    .navbar-header

      .navbar-toggle
        background: transparent
        border: none
        position: absolute
        top: 0
        right: 0

        &:active .icon-bar
          background-color: $green

        .icon-bar
          background-color: $white

      .navbar-brand
        text-align: center
        display: none

    .navbar-nav
      text-align: center

      .active a
        color: $green

      li 
        display: inline

        a 
          line-height: 60px
          text:
            decoration: none
            transform: uppercase
          color: $white
          padding: 15px

          &:hover, &:focus
            color: $green
            background-color: transparent

@media (max-width: $desktop-width)
  .site-header
    height: 400px

    .logos img
      max-height: 90px

      &:first-child
        margin-right: 5px

    #navbar-primary .navbar-nav li a
      padding: 15px 10px

@media (max-width: $tablet-width)
  .site-header 
    height: 360px

    #navbar-primary
      max-height: none

      .navbar-header .navbar-brand
        display: block

      .navbar-nav 
        margin-top: 60px
        
        li a
          line-height: 20px
          padding: 10px

        .inline-brand
          display: none


      