.section-tkd
  background-color: $tkd-bg-color
  display: flex
  justify-content: center
  padding: 50px 40px

  .left-col
    margin-right: 25px
    max-width: 40%

    p
      margin: 0

    .subtitle
      font-size: 2.4rem
      letter-spacing: 0.1rem
      color: $tkd-subtitle-text-color

    .title
      font-size: 4.8rem
      letter-spacing: 0.1rem
      font-weight: 700
      text-transform: uppercase
      color: $tkd-title-text-color
      margin-bottom: 20px

    .description
      line-height: 2.4rem
      color: $tkd-description-text-color

  .right-col
    margin-left: 25px
    max-width: 507px
    
    img
      width: 100%

      &:first-child
        margin-bottom: 20px