.section-tkd
  background-color: $white
  padding: 50px 0

  p
    margin: 0

  .subtitle
    font-size: 2.4rem
    color: $dark-gray

  .title
    font-size: 4.8rem
    font-weight: 700
    text-transform: uppercase
    color: $dark-gray
    margin-bottom: 20px

  .description
    line-height: 2.4rem
    color: $gray
    margin-bottom: 20px
    
  img
    width: 100%
    -webkit-box-shadow: 0 10px 6px -6px $shadow-gray
    -moz-box-shadow: 0 10px 6px -6px $shadow-gray
    box-shadow: 0 10px 6px -6px $shadow-gray

    &:first-child
      margin-bottom: 20px

@media (max-width: $tablet-width)
  .section-tkd .center-container
    max-width: 500px
    margin: auto