.section-contact
  background-color: $bg-color

  #map
    height: 400px
    width: 100%
    background-color: $bg-alt-color

  .info-section
    margin-top: 30px

    h2
      margin-bottom: 10px

    h6
      margin-top: 10px

    a[class$="-icon"]
      font-size: 2.0rem
      text-decoration: none

    .facebook-icon
      color: $facebook-color

  .message-form
    margin-top: 30px

    h2
      text-align: center
    
    input, textarea
      border: 2px solid $contact-field-border-color
      border-radius: 3px
      color: $text-color
      width: 100%
      font-size: 1.6rem
      padding: 10px
      background-color: transparent

      &:focus
        box-shadow: 0 0 8px $contact-field-shadow-color

      &.valid
        border-color: $contact-field-border-success-color

    textarea
      height: 180px
      overflow-y: auto
      resize: none
      word-wrap: break-word
      margin-bottom: 15px

    label
      margin-top: 15px
      color: $text-color

      &.error
        margin-top: 0
        color: $contact-label-error-color

    .sending-alert
      background-color: $dark-gray
      text-align: center
      color: $white
      font-size: 1.8rem
      border-radius: 3px
      max-height: 0
      overflow-y: hidden

      img, span
        display: block
        margin: auto

    button[disabled=disabled], button:disabled
      background-color: $light-gray

  .modal button
    margin: 0

  .modal .modal-success .modal-content
    border-color: $contact-modal-success-border-color
    box-shadow: 0 0 16px $contact-modal-success-shadow-color

  .modal .modal-fail .modal-content
    border-color: $contact-modal-fail-border-color
    box-shadow: 0 0 16px $contact-modal-fail-shadow-color

@media (max-width: $desktop-width)
  .info-section
    text-align: center