.section-contact
  background-color: $bg-color

  #map
    height: 400px
    width: 100%
    background-color: $bg-alt-color

  .info-section
    margin-top: 30px
    text-align: center

    h2
      margin-bottom: 10px

    h6
      margin-top: 10px

    a[class$="-icon"]
      font-size: 2.0rem
      text-decoration: none

    i
      width: 23px
      margin-right: 3px
      text-align: center

    .facebook-icon
      color: $facebook-color

  .message-form
    margin-top: 30px

    h2
      text-align: center
    
    input, textarea
      border: 2px solid $contact-field-border-color
      border-radius: 3px
      color: $text-color
      width: 100%
      font-size: 1.6rem
      padding: 10px
      background-color: transparent

      &:focus
        box-shadow: 0 0 8px $contact-field-shadow-color

      &.valid
        border-color: $contact-field-border-success-color

    textarea
      height: 180px
      overflow-y: auto
      resize: none
      word-wrap: break-word
      margin-bottom: 15px

    label
      margin-top: 15px
      color: $text-color

      &.error
        margin-top: 0
        color: $contact-label-error-color

    .status-alert
      color: $white
      font-size: 1.8rem
      border-radius: 3px
      max-height: 0
      overflow-y: hidden
      position: relative

      i
        font-size: 5.4rem
        float: left
        margin-right: 15px 

      img
        display: block
        margin: auto

      .close-button
        position: absolute
        top: 0
        right: 0
        background-color: transparent
        border: none
        padding: 5px
        line-height: 1.5rem
        font-size: 3.0rem

    .success-alert
      background-color: $green
      text-align: left

    .fail-alert
      background-color: $red
      text-align: left

    .sending-alert
      background-color: $dark-gray
      text-align: center

    button:disabled
      background-color: $light-gray

@media (min-width: $desktop-width)
  .section-contact .info-section
    text-align: left