.section-events
  background-color: $bg-alt-color
  padding-top: 0

  .event-container
    margin-top: -35px

    &:hover 

      .event-header, .event-body
        box-shadow: 0 3px 10px $shadow-color
        transition-duration: 0.2s

    .event-header
      height: 150px
      overflow: hidden
      position: relative

      img
        width: 100%

      .event-date
        position: absolute
        bottom: 0
        right: 0
        background-color: $event-date-bg-color
        width: 65px
        height: 65px
        color: $event-date-text-color
        text-align: center

        .event-day
          font-size: 3.0rem
          font-weight: 700

        .event-month
          font-size: 1.8rem
          text-transform: uppercase

    .event-body
      background-color: $event-bg-color
      height: 335px
      padding-top: 15px
      position: relative

      .event-title
        max-height: 60px
        padding-bottom: 15px
        border-bottom: 4px solid $event-title-border-color
        margin: 0 15px
        overflow: hidden

      .event-description
        height: 170px
        margin: 15px 15px 0 15px
        overflow: hidden

      .event-button
        margin: 15px
        position: absolute
        left: 0
        bottom: 0

        a
          text-decoration: none
          color: $btn-text-color

@media (max-width: $tablet-width)
  .section-events 

    .event-container
      margin-top: 0
      margin-bottom: 20px

      &:first-child
        margin-top: -10px

      &:last-child
        margin-bottom: 0

      .event-body
        height: auto
        max-height: 290px

        .event-description
          height: auto
          max-height: 120px

        .event-button
          position: static