.section-events
  background-color: $bg-alt-color
  padding-top: 0

  .event-container
    margin-top: -35px

    &:hover 
      box-shadow: 0 3px 10px $shadow-color
      -webkit-transition-duration: 0.2s
      transition-duration: 0.2s

    .event-header
      height: 150px
      overflow: hidden
      position: relative

      img
        width: 100%

      .event-date
        position: absolute
        bottom: 0
        right: 0
        background-color: $event-date-bg-color
        width: 65px
        height: 65px
        color: $event-date-text-color
        text-align: center

        .event-day
          font-size: 3.0rem
          font-weight: 700

        .event-month
          font-size: 1.8rem
          text-transform: uppercase

    .event-body
      background-color: $event-bg-color
      height: 250px
      padding-top: 15px
      overflow: hidden

      h4
        padding-bottom: 15px
        border-bottom: 4px solid $event-title-border-color
        margin: 0 15px

      p
        margin: 15px 15px 0 15px

    .event-footer
      background-color: $event-bg-color
      padding: 15px

@media (max-width: $tablet-width)
  .section-events .event-container
    margin-top: 20px

    .event-body
      height: auto
      max-height: 290px

    &.negative-margin-sm
      margin-top: -10px