.section-tkd
  background-color: $bg-color
  p
    margin: 20px 0
    
  img
    width: 100%
    -webkit-box-shadow: 0 10px 6px -6px $shadow-color
    -moz-box-shadow: 0 10px 6px -6px $shadow-color
    box-shadow: 0 10px 6px -6px $shadow-color

    &:first-child
      margin-bottom: 20px