.section-contact
  background-color: $white

  #map
    height: 400px
    width: 100%
    background-color: $very-light-gray

  .info-section
    margin-top: 30px
    text-align: center

    h2
      margin-bottom: 10px

    h6
      margin-top: 10px

    a[class$="-icon"]
      font-size: 2.0rem
      text-decoration: none

    i
      width: 23px
      margin-right: 3px
      text-align: center

    .facebook-icon
      color: $facebook-color

  .message-form
    margin-top: 30px

    h2
      text-align: center
    
    input, textarea
      margin-top: 15px
      border: 2px solid $gray
      border-radius: 3px
      color: $gray
      width: 100%
      font-size: 1.6rem
      padding: 10px
      background-color: transparent

      &:focus
        box-shadow: 0 0 8px $dim-gray

      &.valid
        border-color: $green

    textarea
      height: 180px
      overflow-y: auto
      resize: none
      word-wrap: break-word

    label.error
      color: $red

    .status-alert
      color: $white
      display: -webkit-box
      display: -webkit-flex
      display: -ms-flexbox
      display: flex
      font-size: 1.8rem
      border-radius: 3px
      max-height: 0
      overflow-y: hidden
      position: relative

      .status-message
        color: $white

      i
        font-size: 5.4rem
        margin-right: 15px 

      img
        display: block
        margin: auto

      .close-button
        position: absolute
        top: 0
        right: 0
        background-color: transparent
        border: none
        padding: 5px
        line-height: 1.5rem
        font-size: 3.0rem

    .success-alert
      background-color: $green
      text-align: left

    .fail-alert
      background-color: $red
      text-align: left

    .sending-alert
      background-color: $dark-gray
      text-align: center
      -webkit-box-orient: vertical
      -webkit-box-direction: normal
      -webkit-flex-direction: column
      -ms-flex-direction: column
      flex-direction: column

    .main-button
      margin-top: 15px
      float: right

@media (min-width: $desktop-width)
  .section-contact 

    .info-section
      text-align: left

    .message-form .main-button
      float: none
